<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body class="container">
    <header>
        <%- include("../partials/header") %>
    </header>
    
    <main>
        <div class="jumbotron">
            <h1>Ini Adalah Halaman About</h1>
            <p>Tentang Website Kami</p>
        </div>
    </main>
    
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>