	<% const nama = "AFIFUDIN"; %>
	<h1>WELCOME TO EXPRESSJS, <%= nama %> !!</h1>
	<h5><%= maker %></h5>
	<h3>How to Make Web Server with ExpressJS</h3>
	
	<!-- Daftar Siswa -->
	<div class="daftar-siswa">
		<h2>Daftar Produk : </h2>
		<% if(data.length === 0) { %>
			<p><<< Produk Kosong >>></p>
		<% } else { %>
			<ol>
				<% data.forEach(produk => { %>
					<h5><li>Produk = <%= produk.nama %>, <br /> Harga = Rp.<%= produk.harga %>,00</li></h5>
				<% }) %>
			</ol>
		<% } %>
	</div>