<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
</head>
<body>
    <div class="container">
        <%- body %>
    </div>

	<!-- Link -->
	<div class="link">
		<h2>Link : </h2>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/help">Help</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/products/23?category=Rara%20Cantik">Product</a></li>
		</ul>
	</div>
</body>
</html>