<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
</head>
<body>
	<!-- Link -->
	<div class="link">
		<h5 style="display: inline"><a style="text-decoration: none;" href="/">Home</a> |</h5>
		<h5 style="display: inline"> <a style="text-decoration: none;" href="/about">About</a> |</h5>
		<h5 style="display: inline"> <a style="text-decoration: none;" href="/help">Help</a> |</h5>
		<h5 style="display: inline"> <a style="text-decoration: none;" href="/apidata">Api Data</a> |</h5>
		<h5 style="display: inline"> <a style="text-decoration: none;" href="/products/23">Produk</a></h5>
		<hr />
	</div>
	
	<%- body %>
</body>
</html>